.off-screen-menu {
    background-color: #1c1b1d;
    position: fixed;
    top: 0;
    right: -450px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    
    /* z-index: 1;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out; */
}
ul{
    list-style: none;
}
.off-screen-menu li {
    margin: 3rem;
}

.off-screen-menu.active {
    right: 0;
    z-index: 1;
    /* transform: translateX(0); */
}

.off-screen-menu a {
    color: #eee;
    text-decoration: none;
}
.off-screen-menu a:visited {
    color: #eee;
}
.off-screen-menu a:hover {
    color: #ccc;
    transition: 0.3s ease-in-out;
}
/* nav {
    padding: 1rem;
    display: flex;
    background-color: aqua;
} */
.ham-menu {
    height: 50px;
    width: 50px;
    margin-left: auto;
    position: relative;
     z-index: 2;
    /* width: 50px; */
    /* height: 50px;
    background-color: aqua;
    position: fixed;
    right: 2em;
    top: 2em; */ 
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(30, 28, 32);
    /* border-radius: 25px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    background-color: #ddd;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    background-color: #ddd;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.ham-menu.active:hover span {
    background-color: #ccc;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container .item-wrapper {
    width: 33.33%;
    padding: 0.3em;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.container .item-wrapper .item {
    aspect-ratio: 16/9;
    /* margin: 10px 0; */
    position: relative;
    overflow: hidden;
}
.container .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main {
    padding: 1em 20px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
   

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ddd;
    color: white;
    margin: 0;
    position: relative
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1b1d;
}
h3 {
    color: white;
}
p{
    color: white;
}
.container-onas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1em;
    max-width: 800px;
}
.logo img {
    height: 90px;
    margin: 0.5rem 2rem;
}

@media screen and (max-width: 850px) {
    .container .item-wrapper {
        width: 50%;
    }
    .ham-menu {
        display: block;
    }
    /* .navbar {
        display: none;
    } */
    
}
@media screen and (max-width: 600px) {
    .container .item-wrapper {
        width: 100%;
    }
    .ham-menu {
        display: block;
    }
    /* .navbar {
        display: none;
    } */
    
}